{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% spaceless %}
    <span class="first">
    {% ifequal page_index 1 %}
        {% trans 'First' %}
    {% else %}
        <a href="{% url tmitter.mvc.views.index_user_page username,page_index %}">{% trans 'First' %}</a>
    {% endifequal %}
    </span>
    <span class="prev">
    {% if has_prev %}
        <a href="{% url tmitter.mvc.views.index_user_page username,page_prev %}">{% trans 'Prev' %}</a>
    {% else %}
        {% trans 'Prev' %}
    {% endif %}
    </span>
    <span class="page">{{ page_index }}/{{ page_count }}</span>
    <span class="next">
    {% if has_next %}
        <a href="{% url tmitter.mvc.views.index_user_page username,page_next %}">{% trans 'Next' %}</a>
    {% else %}
        {% trans 'Next' %}
    {% endif %}
    </span>
    <span class="last">
    {% ifequal page_index page_count %}
        {% trans 'Last' %}
    {% else %}
        <a href="{% url tmitter.mvc.views.index_user_page username,page_count %}">{% trans 'Last' %}</a>
    {% endifequal %}
    </span><br />
    <span class="tip">{% trans 'All of ' %} {{ row_count }} {% trans 'messages' %}</span>
{% endspaceless %}