{% load user_tags %}
<p class="message">
    <span class="face"><img src="{{ item.user.face|face16 }}" class="face16" /></span>
    <a href="{% url mvc.views.index_user item.user.username %}" class="name">{{ item.user.realname }}</a>
    {{ item.message|urlize }} <a class="more" href="{% url mvc.views.detail item.id %}">详细...</a>
<p>
<p class="info">
    <span class="date">{{ item.addtime|timesince }}前</span>
    <span class="category">通过{{ item.category.name }}</span>
    {% if islogin %}
    {% ifequal userid item.user.id %}
    <span class="delete"><a href="{% url mvc.views.detail_delete item.id %}">删除</a></span>
    {% endifequal  %}
    {% endif %}
</p>           