{% extends "base.html" %}
{% load user_tags %}
{% block title %}{{ page_title }}{% endblock %}
{% block head_link %}
{% endblock %}
{% block  main %}    
    <div class="list">
        <ol>
        {% for user in users %}
        <li>
            <div class="userinfo">
                {% include 'include/userinfo.html'%}  
            </div>          
        </li>
        {% endfor %}
        </ol>
        <div class="pagebar">
            {{ page_bar|safe }}            
        </div>
    </div>
{% endblock %}
